Authorization:BaseUrl=
Authorization:SiteName=
Auth0:Audience=
Auth0:ClientSecret=
Auth0:ClientId=
Auth0:TokenUrl=
Auth0API:Audience=
Auth0API:ClientId=
Auth0API:ClientSecret=
Auth0API:Domain=
ConnectionStrings:Default=
